.index-body {
    animation: background-color infinite 10s;
    font-family: 'Lato', sans-serif;
}

.index-header {
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    animation: fadeIn 3s;
}

.free-space {
    height: 250px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes background-color {
    0% {
        background: #CDC8FF;
    }

    25% {
        background: #A0DFFF;
    }

    50% {
        background: #EAC8FF;
    }

    75% {
        background: #A0DFFF;
    }

    100% {
        background: #CDC8FF;
    }
}
