<!DOCTYPE html>
<html>

<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/about.css">
</head>

<body class="index-body">
    <nav class="navbar navbar-inverse navbar-fixed-top myNavbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://127.0.0.1:5000/">Url Detector</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://127.0.0.1:5000/">Home</a></li>
                <li><a href="http://127.0.0.1:5000/about">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://127.0.0.1:5000/contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="free-space"></div>
    <div class="container-fluid index-header">
        <h1>About Us</h1>
    </div>
    <div class="container-fluid">
        <p class="aboutus"><br><br><br><span class="aboutus-header">Hi there!</span><br><br><br><br>
            We are a team of innovative minds that are working to develop secure solutions for your enterprise. Our approaches include web technologoies in amalgation with Machine Learning to achieve Data Security and secure the information of our customers.
        </p>
    </div>
</body></html>
